.App {
  height: 100vh;
  display: flex;
  color: white;
  
  
  
}

.App__Aside {
  background-image: url('./pages/img/travel.jpeg');
  background-repeat: no-repeat;
  width: 50%;
  background-color: #ffffff;
  color: white;
}
.userSide{
  
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  padding-top: 150px;

}

.App__Form {
  width: 50%;
  background-color: #f4f8ff;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #d5d5d5;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #225E62;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #353535;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #353535;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: #29566D;
  border-bottom: 1px solid #29566D;
}
.headerText{
  background-image: url('./pages/img/2.png');
  border: 1px solid white;
  box-shadow:0px 5px 5px black;
  text-align: center;
  padding-bottom: 5px;
  color: white;
    
}


.space{
  padding: 10px;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: black;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #353535;
}

.FormField__Button {
  background-color: #29566D;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: black;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: black;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: black;
  border-bottom: 1px solid #225E62;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}
.car-description{
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: black;

}

